/* COLOR PALETTE */
:root {
  --black: #001732;
  --orange: #f1754e;
  --orange-alpha: rgba(241, 117, 78, 0.6);
  --lightgreen: #4ef1bb;
  --lightgreen-alpha: rgba(78, 241, 187, 0.6);
  --bg-color: #d8eee8;
  --bg-dark-color: #cbe0dd;
  --clicked-cell: #9dc5c7;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic Rules */
body {
  padding: 16px;
  line-height: 1;
  color: var(--black);
  background-color: var(--bg-color);
  font-family: "Darker Grotesque", sans-serif;

  /* to center the game-container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 484px;
}

/* Game Panel */
h1 {
  font-size: 40px;
}

.score {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}

/* Game Board */

.game-board {
  position: relative;
  border: 2px solid var(--black);
}

.grid {
  height: 480px;
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cell {
  width: 10%;
  height: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  /* border: 1px dashed var(--black); */
}

.cell-dark {
  background-color: var(--bg-dark-color);
}

.cell-clicked {
  background-color: var(--clicked-cell);
  /* border: 1px solid var(--black); */
}

.cell-right-clicked {
  background-color: var(--orange);
  /* background-image: url("images/flag.png"); */
  /* background-size: contain; */
}

.cell-bomb {
  background-color: var(--orange);
  background-image: url("images/bomb.png");
  background-size: contain;
}

/* End Game Screen */
.end-game-screen {
  background-color: var(--orange-alpha);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.win {
  background-color: var(--lightgreen-alpha);
}

.end-game-text {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 16px;
}

button {
  border: 2px solid var(--black);
  font-size: 24px;
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
  padding: 4px 20px 8px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--bg-color);
}

.hidden {
  display: none;
}
